<div class="progress-spinner" *ngIf="isProgressSpinnerVisible">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-card
  header="Forgot password"
  styleClass="p-card-style shadow-7">
  <form (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <label for="email-input" class="field-label">
        <p class="required">Email</p>
      </label>
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input
          id="email-input"
          type="text"
          [formControl]="email"
          pInputText
          [ngClass]="{
            'ng-invalid ng-dirty': isEmailInputInvalidAndTouchedOrDirty()
          }"
          placeholder="Email" />
      </span>
      <small class="p-error" *ngIf="isEmailInputTouchedOrDirtyAndEmpty(); else invalidEmailFormatMessage">
        This field is required
      </small>
      <ng-template #invalidEmailFormatMessage>
        <small class="p-error" *ngIf="isEmailInputTouchedOrDirtyAndNotValidEmail()">
          Please enter valid email address
        </small>
      </ng-template>
    </div>
    <p-button pRipple type="submit" styleClass="p-button-style" label="Submit"></p-button>
  </form>
</p-card>
