<div class="progress-spinner" *ngIf="isProgressSpinnerVisible">
    <p-progressSpinner></p-progressSpinner>
</div>

<p-confirmPopup></p-confirmPopup>

<p-card
  header="Admin Panel"
  styleClass="p-card-style shadow-7">
  <p-table
    #inquiriesTable
    [value]="inquiries"
    [rowHover]="true"
    responsiveLayout="scroll"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 25]"
    stateStorage="session"
    stateKey="inquiriesTableSettings">

    <ng-template pTemplate="caption">
      <div class="flex justify-content-center inline">All inquiries</div>

      <button pButton pRipple label="Clear" class="flex justify-content-end" icon="pi pi-filter-slash" (click)="clearInquiriesTable()"></button>

    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="loanValue">
          <div class="flex justify-content-center align-items-center">
            Loan Value
            <p-sortIcon field="loanValue"></p-sortIcon>
            <p-columnFilter type="numeric" field="loanValue" display="menu" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="numberOfInstallments">
          <div class="flex justify-content-center align-items-center">
            Installments
            <p-sortIcon field="numberOfInstallments"></p-sortIcon>
            <p-columnFilter type="numeric" field="numberOfInstallments" display="menu" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="dateOfInquirySubmition">
          <div class="flex justify-content-center align-items-center">
            Submition Date
            <p-sortIcon field="dateOfInquirySubmition"></p-sortIcon>
            <p-columnFilter type="date" field="dateOfInquirySubmition" display="menu" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="flex justify-content-center align-items-center">
            Email
            <p-columnFilter type="text" field="email" display="menu" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="flex justify-content-center align-items-center">
            Government Id Type
            <p-columnFilter field="governmentIdType" matchMode="equals" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="header">
                <div class="px-3 pt-3">
                  <span class="font-bold">Government Id Type Picker</span>
                </div>
              </ng-template>
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-dropdown
                  [ngModel]="value"
                  [options]="governmentIdTypes"
                  placeholder="Any"
                  (onChange)="filter($event.value)">
                  <ng-template let-option pTemplate="item">
                      {{ option }}
                  </ng-template>
                </p-dropdown>
              </ng-template>
          </p-columnFilter>
        </div>
        </th>
        <th>
          <div class="flex justify-content-center align-items-center">
            Government Id Value
            <p-columnFilter type="text" field="governmentIdValue" display="menu" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-inquiry>
      <tr>
        <td>
          <div class="center-text">{{ inquiry.amountRequested }}</div>
        </td>
        <td>
          <div class="center-text">{{ inquiry.numberOfInstallments }}</div>
        </td>
        <td>
          <div class="center-text">{{ inquiry.creationTime | date: 'dd.MM.yyyy, HH:mm' }}</div>
        </td>
        <td>
          <div class="center-text">{{ inquiry.personalData.notificationEmail }}</div>
        </td>
        <td>
          <div class="center-text">{{ inquiry.govId.type }}</div>
        </td>
        <td>
          <div class="center-text">{{ inquiry.govId.value }}</div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">

          <p class="table-empty-message" *ngIf="inquiries.length == 0; else noMatchingInquiries">Inquiries list is empty</p>
          <ng-template #noMatchingInquiries>
            <p class="table-empty-message">No matching inquiries found</p>
          </ng-template>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-table
    #applicationsTable
    [value]="applications"
    [rowHover]="true"
    responsiveLayout="scroll"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 25]"
    stateStorage="session"
    stateKey="applicationsTableSettings"
    dataKey="offerId">

    <ng-template pTemplate="caption">
      <div class="flex justify-content-center inline">All applications</div>

      <button pButton pRipple label="Clear" class="flex justify-content-end" icon="pi pi-filter-slash" (click)="clearApplicationsTable()"></button>

    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5rem"></th>
        <th pSortableColumn="loanValue">
          <div class="flex justify-content-center align-items-center">
            Loan Value
            <p-sortIcon field="loanValue"></p-sortIcon>
            <p-columnFilter type="numeric" field="loanValue" display="menu" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="numberOfInstallments">
          <div class="flex justify-content-center align-items-center">
            Installments
            <p-sortIcon field="numberOfInstallments"></p-sortIcon>
            <p-columnFilter type="numeric" field="numberOfInstallments" display="menu" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="percentage">
          <div class="flex justify-content-center align-items-center">
            Percentage
            <p-sortIcon field="percentage"></p-sortIcon>
            <p-columnFilter type="numeric" field="percentage" display="menu" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="monthlyInstallment">
          <div class="flex justify-content-center align-items-center">
            Monthly Installment
            <p-sortIcon field="monthlyInstallment"></p-sortIcon>
            <p-columnFilter type="numeric" field="monthlyInstallment" display="menu" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="flex justify-content-center align-items-center">
            Email
            <p-columnFilter type="text" field="email" display="menu" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="flex justify-content-center align-items-center">
            Status
            <p-columnFilter field="status" matchMode="equals" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="header">
                <div class="px-3 pt-3">
                  <span class="font-bold">Status Picker</span>
                </div>
              </ng-template>
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-dropdown
                  [ngModel]="value"
                  [options]="statuses"
                  placeholder="Any"
                  (onChange)="filter($event.value)">
                  <ng-template let-option pTemplate="item">
                    {{ option }}
                  </ng-template>
                </p-dropdown>
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
        <th>
          <div class="flex justify-content-center align-items-center">
            Accept/Reject
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-application let-expanded="expanded">
      <tr>
        <td>
          <button type="button" pButton pRipple [pRowToggler]="application" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
        <td>
          <div class="center-text">{{ application.loanValue }}</div>
        </td>
        <td>
          <div class="center-text">{{ application.numberOfInstallments }}</div>
        </td>
        <td>
          <div class="center-text">{{ application.percentage }}%</div>
        </td>
        <td>
          <div class="center-text">{{ application.monthlyInstallment }}</div>
        </td>
        <td>
          <div class="center-text">{{ application.email }}</div>
        </td>
        <td>
          <div class="center-text">
            <span [class]="'status-' + application.status.toLowerCase()">{{ application.status }}</span>
          </div>
        </td>
        <td>
          <div class="flex justify-content-between align-items-center" *ngIf="application.status == 'WAITINGFORACCEPTANCE'">
            <button pButton pRipple icon="pi pi-check" class="p-button-rounded" (click)="reviewApplicationPopUp(application, true, $event.target!)"></button>
            <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="reviewApplicationPopUp(application, false, $event.target!)"></button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-application>
      <tr>
        <td colspan="8">
            <p-table [value]="[application]">
              <ng-template pTemplate="header">
                <tr>
                  <th>
                    <div class="flex justify-content-center align-items-center">Government Id Type</div>
                  </th>
                  <th>
                    <div class="flex justify-content-center align-items-center">Government Id Value</div>
                  </th>
                  <th>
                    <div class="flex justify-content-center align-items-center">Inquiry Submission Date</div>
                  </th>
                  <th>
                    <div class="flex justify-content-center align-items-center">Offer Request Date</div>
                  </th>
                  <th>
                    <div class="flex justify-content-center align-items-center">Signed document</div>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-application>
                <tr>
                  <td>
                    <div class="center-text">{{application.governmentId.type}}</div>
                  </td>
                  <td>
                    <div class="center-text">{{application.governmentId.value}}</div>
                  </td>
                  <td>
                    <div class="center-text">{{application.dateOfInquiry | date: 'dd.MM.yyyy, HH:mm'}}</div>
                  </td>
                  <td>
                    <div class="center-text">{{application.dateOfApplication | date: 'dd.MM.yyyy, HH:mm'}}</div>
                  </td>
                  <td>
                    <div class="flex justify-content-center align-items-center">
                      <p-button label="Download" icon="pi pi-download" (onClick)="downloadContract(application.offerId)"></p-button>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">
          <p class="table-empty-message" *ngIf="applications.length == 0; else noMatchingapplications">Offer requests list is empty</p>
          <ng-template #noMatchingapplications>
            <p class="table-empty-message" *ngIf="applications.length != 0">No matching offer requests found</p>
          </ng-template>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
