<p-card
    [header]="offerName"
    styleClass="p-card-style shadow-7">
    <div class="flex justify-content-between offer-data">
      <div class="flex align-items-center">Status:</div>
      <span [class]="'status-' + bankOffer.status.toLowerCase()">{{ bankOffer.status }}</span>
    </div>
    <div *ngIf="bankOffer.offer != null">
        <div class="flex justify-content-between offer-data">
            <div>Loan value:</div>
            <div>{{bankOffer.offer.loanValue}}</div>
        </div>
        <div class="flex justify-content-between offer-data">
            <div>Number Of Installments:</div>
            <div>{{bankOffer.offer.numberOfInstallments}}</div>
        </div>
        <div class="flex justify-content-between offer-data">
            <div>Percentage:</div>
            <div>{{bankOffer.offer.percentage}}</div>
        </div>
        <div class="flex justify-content-between offer-data">
            <div>Monthly Installment:</div>
            <div>{{bankOffer.offer.monthlyInstallment}}</div>
        </div>
        <div *ngIf="bankOffer.status == 'OFFERRECEIVED'">
          <p-button type="download" styleClass="p-button-style" label="Download contract" icon="pi pi-download" (onClick)="downloadContract()"></p-button>
          <div *ngIf="bankOffer.contractDownloaded">
            <p-fileUpload
                #fileUpload
                name="signedContract[]"
                accept=".txt"
                [multiple]="false"
                [maxFileSize]="20480"
                invalidFileSizeMessageSummary="Maximum file size is 20kB"
                invalidFileSizeMessageDetail=""
                invalidFileTypeMessageSummary="Allowed file type is .txt"
                invalidFileTypeMessageDetail=""
                [showUploadButton]="false"
                [showCancelButton]="false"
                (onSelect)="onSelectFileHandler($event)"
                styleClass="p-fileupload-style">
                <ng-template pTemplate="content" let-files>
                    <div *ngIf="bankOffer.signedContract == null">
                        <div class="flex flex-column justify-content-center">
                            <i class="flex justify-content-center pi pi-download download-icon"></i>
                            <div class="flex justify-content-center">
                                Drop or&nbsp;
                                <span class="browse-button" (click)="fileUpload.choose()">
                                    browse
                                </span>
                                &nbsp;signed contract
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="file" let-file>
                    <div class="flex justify-content-evenly flex align-items-center flex-wrap">
                        {{file.name}}
                        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="onRemoveFileHandler()" styleClass="p-button-remove"></button>
                    </div>
                </ng-template>
            </p-fileUpload>
            <p-button type="request" styleClass="p-button-style" label="Request Offer" (onClick)="requestOfferOnClickHandeler()"></p-button>
          </div>
        </div>
    </div>
</p-card>
