<p-card styleClass="p-card-style shadow-7">
  <div class="flex justify-content-between flex-wrap">
    <div class="flex align-content-center">
      <img alt="brand logo"
        height="50"
        src="/assets/LoanComparerLogo.png"
        (click)="BrandLogoOnClick()"
        class="cursor-pointer"/>
    </div>
    <div *ngIf="!this.isUserAuthenticated; else userAuthenticated">
      <button
        pButton
        pRipple
        type="login"
        label="Login"
        class="p-button-secondary p-button-text"
        (click)="loginButtonOnClick()">
      </button>
      <button
        pButton
        pRipple
        type="register"
        label="Register"
        class="p-button-secondary p-button-text"
        (click)="registerButtonOnClick()">
      </button>
    </div>
    <ng-template #userAuthenticated>
      <div>
        <button
        *ngIf="this.isUserBankEmployee"
          pButton
          pRipple
          type="adminPanel"
          label="Admin Panel"
          class="p-button-secondary p-button-text"
          (click)="adminPanelButtonOnClick()">
        </button>
        <button
          pButton
          pRipple
          type="logout"
          label="Logout"
          class="p-button-secondary p-button-text"
          (click)="logoutButtonOnClick()">
        </button>
      </div>
    </ng-template>
  </div>
</p-card>
