<div class="progress-spinner" *ngIf="isProgressSpinnerVisible">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-card
  header="Login"
  styleClass="p-card-style shadow-7">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <label for="email-input" class="field-label">
        <p class="required">Email</p>
      </label>
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input
          [pAutoFocus]="true"
          id="email-input"
          type="text"
          formControlName="email"
          pInputText
          [ngClass]="{
            'ng-invalid ng-dirty': isInputInvalidAndTouchedOrDirty('email')
          }"
          placeholder="Email" />
      </span>
      <small class="p-error" *ngIf="isInputTouchedOrDirtyAndEmpty('email'); else invalidEmailFormatMessage">
        This field is required
      </small>
      <ng-template #invalidEmailFormatMessage>
        <small class="p-error" *ngIf="isEmailInputTouchedOrDirtyAndNotValidEmail()">
          Please enter valid email address
        </small>
      </ng-template>
    </div>
    <div class="p-fluid">
      <label for="password-input" class="field-label">
        <p class="required">Password</p>
      </label>
      <span class="p-input-icon-left p-input-icon-right">
        <i class="pi pi-lock"></i>
        <i class="pi {{ this.passwordEyeIcon }}" (click)="hideShowPassword()"></i>
        <input
          pInputText
          [type]="passwordInputType"
          id="password-input"
          formControlName="password"
          [ngClass]="{
            'ng-invalid ng-dirty': isInputInvalidAndTouchedOrDirty('password')
          }"
          placeholder="Password"/>
      </span>
      <small class="p-error" *ngIf="isInputInvalidAndTouchedOrDirty('password')">
        This field is required
      </small>
    </div>
    <p-button pRipple type="submit" styleClass="p-button-style" label="Login"></p-button>
  </form>
  <div class="flex justify-content-center">
    Don't have an account?&nbsp;<a class="router-link" routerLink="/register">Sign Up</a>
  </div>
  <div class="flex justify-content-center forgot-password">
    <a class="router-link" routerLink="/forgot-password">Forgot password?</a>
  </div>
  <div class="horizontal-line">
    <span>or connect with</span>
  </div>
  <!-- <div class="flex justify-content-center icon">
    <img height="35" src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" />
  </div> -->
  <div id="googleButton"></div>
</p-card>
