<div class="progress-spinner" *ngIf="isProgressSpinnerVisible">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-card
  header="Reset password"
  styleClass="p-card-style shadow-7">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <label for="new-password-input" class="field-label">
        <p class="required">New Password</p>
      </label>
      <span class="p-input-icon-left p-input-icon-right">
        <i class="pi pi-lock"></i>
        <i class="pi {{ this.newPasswordEyeIcon }}" (click)="hideShowNewPassword()"></i>
        <input
          [pAutoFocus]="true"
          pInputText
          [type]="newPasswordInputType"
          id="new-password-input"
          formControlName="newPassword"
          [ngClass]="{
            'ng-invalid ng-dirty': isInputInvalidAndTouchedOrDirty('newPassword')
          }"
          placeholder="New password"/>
      </span>
      <small class="p-error" *ngIf="isInputTouchedOrDirtyAndEmpty('newPassword'); else newPasswordToShortMessage">
        This field is required
      </small>
      <ng-template #newPasswordToShortMessage>
        <small class="p-error" *ngIf="isNewPasswordInputTouchedOrDirtyAndTooShort(); else newPasswordDoesntContainALowerCaseLetterMessage">
          Password should have at least {{ this.passwordMinLength }} characters
        </small>
      </ng-template>
      <ng-template #newPasswordDoesntContainALowerCaseLetterMessage>
        <small class="p-error" *ngIf="isNewPasswordInputTouchedOrDirtyAndDoesntContainLowerCaseLetter();
        else newPasswordDoesntContainAUpperCaseLetterMessage">
          Password should have at least 1 lower case letter
        </small>
      </ng-template>
      <ng-template #newPasswordDoesntContainAUpperCaseLetterMessage>
        <small class="p-error" *ngIf="isNewPasswordInputTouchedOrDirtyAndDoesntContainUpperCaseLetter();
        else newPasswordDoesntContainANumberMessage">
          Password should have at least 1 upper case letter
        </small>
      </ng-template>
      <ng-template #newPasswordDoesntContainANumberMessage>
        <small class="p-error" *ngIf="isNewPasswordInputTouchedOrDirtyAndDoesntContainNumber();
        else newPasswordDoesntContainASpecialCharacterMessage">
          Password should have at least 1 number
        </small>
      </ng-template>
      <ng-template #newPasswordDoesntContainASpecialCharacterMessage>
        <small class="p-error" *ngIf="isNewPasswordInputTouchedOrDirtyAndDoesntContainSpecialCharacter()">
          Password should have at least 1 special character
        </small>
      </ng-template>
    </div>
    <div class="p-fluid">
      <label for="confirmPassword-input" class="field-label">
        <p class="required">Confirm Password</p>
      </label>
      <span class="p-input-icon-right">
        <i class="pi {{ this.confirmPasswordEyeIcon }}" (click)="hideShowConfirmPassword()"></i>
        <input
          pInputText
          [type]="confirmPasswordInputType"
          id="confirmPassword-input"
          formControlName="confirmPassword"
          [ngClass]="{
            'ng-invalid ng-dirty': isConfirmPasswordInputInvalidAndTouchedOrDirty()
          }"
          placeholder="Password"/>
      </span>
      <small class="p-error" *ngIf="isInputTouchedOrDirtyAndEmpty('confirmPassword'); else passwordsNotMatchingMessage">
        This field is required
      </small>
      <ng-template #passwordsNotMatchingMessage>
        <small class="p-error" *ngIf="arePasswordAndConfirmPasswordTouchedOrDirtyAndNotMatching()">
          New password and confirm password fields are not matching
        </small>
      </ng-template>
    </div>
    <p-button pRipple type="submit" styleClass="p-button-style" label="Reset password"></p-button>
  </form>
</p-card>
